<div class="footer">
	<div class="w">
		<div class="links">
			<a href="https://www.taobao.com/" class="link" target="_blank">
			淘宝</a> |
			<a href="https://www.jd.com/" class="link" target="_blank">
			京东</a> |
			<a href="https://www.jsu.edu.cn/" class="link" target="_blank">
			吉首大学</a> |
			<a href="https://www.cnblogs.com/Java0120" class="link" target="_blank">博客园</a> |
			<a href="https://github.com/SongshuMall" class="link" target="_blank">GitHub</a>
		</div>
		<p class="copyright">
			Copyright © 2020 あまてらす おおかみ Amatelatsu-Opokami All Right Reserved
		</p>
	</div>
</div>

<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
