<div class="footer">
	<div class="w">
		<div class="links">
			<a href="https://www.taobao.com/" class="link" target="_blank">
			淘宝</a> |
			<a href="https://www.jd.com/" class="link" target="_blank">
			京东</a> |
			<a href="https://www.jsu.edu.cn/" class="link" target="_blank">
			吉首大学</a> |
			<a href="https://www.cnblogs.com/Java0120" class="link" target="_blank">博客园</a> |
			<a href="https://github.com/SongshuMall" class="link" target="_blank">GitHub</a>
		</div>
		<p class="copyright">
			Copyright © 2020 あまてらす おおかみ Amatelatsu-Opokami All Right Reserved
		</p>
		 

		<div class="links">
			<a class="link" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43112602000227">
	 			<img src="../../image/icon/beian.png"/>
	 			<span>湘公网安备 43112602000227号</span>
	 		</a>
			<a class="link" href="http://www.beian.miit.gov.cn/" target="_blank">湘ICP备20011679号</a>
			<span style="color: #c60023">此网站由个人开发者，学习开发使用，并不具备实物交易功能</span>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
